name: Release on Tag

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: true
  push:
    tags:
      - '*'

jobs:
  update-version-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0

      - name: Checkout main
        run: |
          git checkout main

      - name: Configure git user
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Action"
          git config --global --add --bool push.autoSetupRemote true

      - name: Run version change script
        run: |
          chmod +x ./change-version.sh
          ./change-version.sh

      - name: Commit changes # TODO: detect if changes were made and if so run the stuff below
        run: |
          git add .
          git commit -m "Release commit for tag ${{ github.ref_name }}"
          git push origin main

      # TODO: update tag to point to latest commit

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
